<h1>注文確認画面</h1>

<%= form_with model: @order, url:public_orders_complete_path, method: :post do |f| %>

<thead>
          <tr>
            <th class="table-active" style="width:50%">商品名</th>
            <th class="table-active" style="width:20%">単価(税込み)</th>
            <th class="table-active" style="width:15%">数量</th>
            <th class="table-active" style="width:15%">小計</th>
          </tr>
        </thead>
<tbody>
<%= @cart_items.each do |cart_item| %>
<tr>

<td><%= image_tag cart_item.item.image %><%= cart_item.item.name %></td>
<td><%= cart_item.item.tax_excluded_price %></td>
<td><%= (cart_item.item.tax_excluded_price * 1.1).floor %></td>
<td><%= (cart_item.item.tax_excluded_price * 1.1).floor * cart_item.quantity %></td>
</tr>
</tbody>

<thead>
  <tr>
    <th>送料</th><td>800</td>
  </tr>
  <tr>
    <th>商品合計</th><td><%= @total_price.round.to_s(:delimited) %></td>
  </tr>
  <tr><th>請求金額</th><td><%= (@total_billing_price = 800 + @total_price) %></td></tr>
</thead>
<% end %>



<p>支払方法</p><%= @order.payment_method %>
<p>お届け先住所</p>


<%= @order.postcode %>
<%= @order.address %>
<%= @order.name %>



<% end %>

<%= link_to "注文を確定する", public_orders_complete_path %>





