<h1>注文入力画面</h1>
<%= form_with model: @order, url:public_orders_confirm_path, method: :post do |f| %>

<p>支払方法</p>
<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
<%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>



<%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
<%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>

<% end %>

<p>お届け先</p>


<%= form_with model: @order, url:public_orders_confirm_path, method: :post do |f| %>


<%= f.radio_button :address_method, Order.address_methods.key(0) %>
<%= f.label :address_method_address, Order.address_methods[:"ご自身の住所"] %>
<%= current_user.address.postcode %>
<%= current_user.address.address %>
<%= current_user.address.name %>
<% end %>

  
<%= f.radio_button :address_method, Order.address_methods.key(1) %>
<%= f.label :address_method_address, Order.address_methods[:"登録済み住所"] %>


<%= form_with model: @address, method: :post, url:public_orders_confirm_path do |f| %>
<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
<% end %>


<%= f.radio_button :address_method, Order.address_methods.key(2) %>
<%= f.label :address_method_address, Order.address_methods[:"新しいお届け先"] %>

<%= form_with model: @address, method: :post, url:public_orders_confirm_path do |f| %>
<p>郵便番号</p>
<%= f.text_field :postcode %>
<p>住所</p>
<%= f.text_area :address %>
<p>宛名</p>
<%= f.text_field :name %>
<%= f.submit '確認画面へ進む' %>

<% end %>
<% end %>
