<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <table border="1" class="table">

        <thead>
          <tr valign="middle" align="center">
            <th class="table-secondary">ジャンル検索</th>
          </tr>
        </thead>

        <% @genres.each do |genre| %>
          <tbody>
            <tr>
              <td>
                <%= genre.name %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-log-10 px-sm-0">
      <div>
        <h2>商品一覧（全<%= @item_count %>）件</h2>
      </div>
      <div class="row">
        <% @items.each do |item|%>
          <div class="col-sm-2 offset-1">
            <%= link_to public_item_path(item) do%>
              <%= image_tag item.get_image(150, 100) %>
            <% end %>

            <div>
              <p><%= item.name %></p>
              <% if item.is_sale_status == true %>
                <p>￥<%= (item.tax_excluded_price * 1.1).to_i %></p>
              <% else %>
                <p>販売停止中</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
       <%= paginate @items, class:"text-center" %>
    </div>
  </div>
</div>