<div class="container mt-5 mb-5">
	<div class="row text-center text-xs-center text-sm-left text-md-left ">
	  <div class="col-lg-2">
      <table border="1" class="table">

        <thead>
          <tr valign="middle" align="center">
            <th class="table-secondary">ジャンル検索</th>
          </tr>
        </thead>

        <% @genres.each do |genre| %>
          <tbody>
            <tr>
              <td>
                <%= genre.name %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

    <div class="col-lg-3">
      <div class="col-xs-5">
        <%= image_tag @item.get_image(300, 200) %>
      </div>
    </div>

    <div class="col-lg-6 offset-1">
      <div>
        <h2><%= @item.name %></h2>
        <p><%= @item.description %></p>

        <% if @item.is_sale_status == true %>
          <h3>￥<%= (@item.tax_excluded_price * 1.1).to_i %>（税込）</h3>
          <%= form_with model: @cart_item, url: public_cart_items_path, local:true do |f| %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.select :quantity,  *[1..10], :prompt => "個数を選択" %>
            <%= f.submit "カートに入れる", class: "btn btn-success" %>
          <% end %>
        <% else %>
          <h3>販売停止中</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>