<h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p>

<!--カート機能-->
<p><%= @item.name %></p>
<div><%= image_tag @item.image %></div>

<%= form_with model: @cart_item, url:public_cart_items_path(@cart_item.id), method: :post do |f| %>

<%= f.select :quantity, *[1..20] %>


<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.submit "カートに入れる", class: "btn btn-primary" %>

<% end %>
