<% if admin_signed_in? %>
  <li class="nav-item">
    <%= link_to admin_items_path, class: 'btn btn-outline-secondary w-auto' do %>
      商品一覧
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_customers_path, class: 'btn btn-outline-secondary w-auto' do %>
      会員一覧
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_orders_path, class: 'btn btn-outline-secondary w-auto' do %>
      注文履歴一覧
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_genres_path, class: 'btn btn-outline-secondary w-auto' do %>
      ジャンル一覧
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to destroy_admin_session_path, method: :delete, class: 'btn btn-outline-secondary w-auto' do %>
    　ログアウト
    <% end %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to about_path, class: 'btn btn-outline-secondary w-auto' do %>
      About
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_items_path, class: 'btn btn-outline-secondary w-auto' do %>
      商品一覧
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to new_customer_registration_path, class: 'btn btn-outline-secondary w-auto' do %>
      新規登録
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to new_admin_session_path, class: 'btn btn-outline-secondary w-auto' do %>
      ログイン
    <% end %>
  </li>
<% end %>